* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

header {
  width: 100vw;
  background-color: #afc3d7;
  display: grid;
  place-items: center;
}

h1 {
  color: #00ff00;
  -webkit-text-stroke: 2px #ff04e6;
  margin: 0.5em;
  font-size: 3em;
  animation: 0.2s knipperen infinite;
}

@keyframes knipperen {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

main {
  background-color: #8dc2fa;
}

section {
  max-width: 40em;
  text-align: center;
  border: 4px solid #f05;
  border-radius: 1em;
  padding: 1em;
}

section p {
  font-size: 1.4em;
}
