* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    min-height: 100vh;
    background-image: url(../img/xp-bg.jpg);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    font-family: sans-serif;
    background-attachment: fixed;
}

body > img {
    position: fixed;
    top: 0;
    width: 15rem;
    z-index: 10;
    animation: marco 15s linear infinite alternate;
}

header {
    width: 100%;
    background-color: rgba(192, 192, 192, 100);
    display: flex;
    border-top: 2px solid white;
    border-right: 2px solid #222;
    border-bottom: 2px solid #222;
    border-left: 2px solid white;
    align-items: center;
    position: sticky;
    top: 0;
}

header img {
    height: 6rem;
    width: 25rem;
    margin-left: 5rem;
    margin-right: 2rem;
    pointer-events: none;
}

h1 {
    font-family: 'Comic Sans MS', 'Comic Sans', cursive;
    color: #00ff00;
    -webkit-text-stroke: 3px #ff04e6;
    text-shadow: 10px 10px black;
    margin: 0.5em;
    font-size: 3em;
    animation: 0.3s knipperen infinite;
}

main {
    max-width: 80rem;
    margin: 0 auto;
    min-height: 300vh;
}

div {
    border-top: 2px solid white;
    border-right: 2px solid #222;
    border-bottom: 2px solid #222;
    border-left: 2px solid white;
    background: #c0c0c0;
    width: 20rem;
    height: 20rem;
}

div h2 {
    margin-bottom: 1rem;
    padding: 0.25rem;
    background: linear-gradient(90deg, #000184, #0f80cd);
    color: #fff;
    font-size: 1rem;
}

div p {
    padding: 0 0.75rem 0.75rem;
    font-family: 'Comic Sans MS', 'Comic Sans', cursive;
}

section {
    position: sticky;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    top: 15rem;
    margin-top: 10rem;
}

.spin {
    animation: rotate 0.3s linear infinite;
}

section:nth-of-type(2) img {
    opacity: 0;
}

section img {
    height: 20rem;
    width: 35%;
    object-fit: contain;
}

footer {
    border-top: 2px solid #efefef;
    background-color: rgba(192, 192, 192, 100);
    position: fixed;
    bottom: 0;
    width: 100%;
}

footer ul {
    display: flex;
    list-style: none;
    align-items: center;
    height: 4rem;
}

footer li {
    margin-left: 1rem;
    font-weight: bold;
}

footer a {
    font-size: 0.9rem;
    padding: 5px 10px;
    border-top: 2px solid white;
    border-right: 2px solid #222;
    border-bottom: 2px solid #222;
    border-left: 2px solid white;
    text-decoration: none;
    color: #000;
    font-weight: normal;
}

@keyframes knipperen {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes marco {
    0% {
        transform: translate(-150%, -150%) scale(1) rotate(0deg);
    }
    25% {
        transform: translate(500%, 600%) scale(1.7) rotate(1000deg);
    }
    50% {
        transform: translate(-150%, 600%) scale(1) rotate(300deg);
    }
    75% {
        transform: translate(500%, -150%) scale(0.7) rotate(70deg);
    }
}
